# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or other editor settings
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

